#Game{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}
#score{
    padding: 15px;
}
#pause{
    border-radius: 0.3em;
    border: 1px solid black;
    padding: 0.3em;
    background-color: #374826;
    color: white;
}
#ticks{
    padding: 15px;
}
#GameBoundaries{
    margin-top: 15px;
}
[id^="enemy"]{
    filter: invert();
}
[id^="addScore"]{
    color: yellow;
}
#comboCounter{
    font-family: fantasy;
    font-size: 2em;
    color: gold;
    position: absolute;
    top: 20px;
}